@model TripCalculator.Models.Trip

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="container-fluid">
    <h4>Trip</h4>
    <hr />

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            
            <div class="row">
                <div class="col-md-3">
                    @Html.DisplayNameFor(model => model.Description)
                </div>

                <div class="col-md-9">
                    @Html.DisplayFor(model => model.Description)
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    Users:
                </div>

                @if (Model.Bookings.Count() == 0)
                {
                    <div class="col-md-9">
                        <strong>None</strong>
                    </div>
                }
                else
                {
                    <div class="col-md-9">
                        <ul class="row">
                            @*display each of the bookings for the trip*@
                            @foreach (var booking in Model.Bookings)
                            {
                                <li>
                                    <span>@booking.User.UserName</span>
                                    <span>
                                        @Html.ActionLink("Remove User", "Delete/" + booking.BookingId, "Bookings",
                                                        new { tripId = Model.TripId }, null)
                                    </span>
                                    
                                    <ul>
                                        @*display each of the expense for each user (booking)*@
                                        @foreach (var expense in booking.Expenses)
                                        {
                                            <li>
                                                <span>@expense.Description: $@expense.Cost</span>
                                                <span>
                                                    @Html.ActionLink("Remove Expense", "Delete/" + expense.ExpenseId, "Expenses",
                                                        new { tripId = Model.TripId }, null)
                                                </span>
                                            </li>
                                        }
                                        <li>
                                            @*Button for adding new expense for this user and this trip*@
                                            @Html.ActionLink("Add Expense", "Create", "Expenses", new { bookingId = booking.BookingId }, null)
                                        </li>

                                    </ul>

                                </li>
                            }

                            <li>
                                @*Button for adding new bookings (users) to the trip*@
                                @Html.ActionLink("Add User", "Create", "Bookings", new { tripId = Model.TripId }, null)
                            </li>
                        </ul>
                    </div>
                }
            </div>

        </div>
    </div>
</div>

<div class="col-md-12">
    @Html.ActionLink("Calculate Break Down", "BreakDown", new { id = Model.TripId })
</div>

<div class="col-md-12">
    @Html.ActionLink("Edit", "Edit", new { id = Model.TripId }) |
    @Html.ActionLink("Back to List", "Index")
</div>
